body{
    background-image: url('../images/Fondo.png') ;
    background-attachment: fixed;  
}
.section{
    background: transparent linear-gradient(180deg, #2D2A2689 0%, #2D2A26 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.text-orange{
    color: #F15D3B;
}
.text-white{
    color: #FFFFFF;
}
.text-white-2{
    color: #E5E5E5;
}
.button-bruker{
    height: 70px;
    width: 250px;
    background: #2D2A26 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #F15D3B5C;
    border: 1px solid #F15D3B;
    border-radius: 22px;
    opacity: 1;
    color: #FFFFFF;
    transition: background-color 0.5s ease-out 50ms
}
.button-bruker:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 10px #F15D3B5C !important;
    border: 1px solid #F15D3B !important;
    color: black;
}
.title{
    text-align: left;
    font: normal normal 300 70px/91px 'DINPro';
    letter-spacing: 0px;
    opacity: 1;
}
.subtitle{
    text-align: left;
    font: normal normal 300 20px/24px 'Neufile_Grotesk';
    letter-spacing: 0px;
}
.card-color{
    background: #AEAFB233 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    backdrop-filter: blur(30px);
    margin: auto;
}
.float{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #49CE2955;
    border: 2px solid #49CE29;
    opacity: 1;
    position:fixed;
    bottom:70px;
	right:40px;
    text-align:center;
    z-index:100;
    transition: border 0.1s ease-out 50ms
}
.float:hover{
    border: 5px solid #49CE29;
    box-shadow: 0px 0px 20px #4ace2998;
}
.float:hover img{
    margin-left: 30%;
    filter: invert(100%) brightness(40%) sepia(100%) hue-rotate(100deg) saturate(1000%) contrast(0.8) !important;
}

.float img{
    margin-left: 35%;
    width: 70%;
}
.modal-content{
    border: 2px solid #F15D3B !important;
    border-radius: 30px;
}

.modal-content h1{
    font: normal normal 300 46px/59px 'DINPro';
}

.modal-content input{
    border-radius: 15px;
}

.modal-content textarea{
    border-radius: 15px;
}
.modal-content button{
    height: 45px;
    width: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #F15D3B5C;
    border: 1px solid #F15D3B;
    border-radius: 22px;
    opacity: 1;
    color: black;
    transition: background-color 0.5s ease-out 50ms
}
.modal-content button:hover{
    background: #2D2A26 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 15px #f15c3b9a;
    color: #FFFFFF;
}